
.formulario-calculadora
{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left:  1em;;

    border: 1.5px groove black;
    border-radius: 10px;

    box-shadow:  12px 10px  15px  2px  #040421c5;

    

}
.card-descuento
{
     display: none;
     padding: 2rem;
     border: 1.5px dotted black;
}

.preloadar
{   
    width: 10rem;
    height: 10rem;
    border: 10px solid rgb(209, 209, 209);
    border-top:11px solid rgb(18, 0, 49) ; 

    border-radius: 50%;

    animation: girar;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;

    position: absolute;
    top: calc(50%); left:calc(50%);
    z-index: 1;

}
.text_preloader
{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(18, 0, 49);
    position: absolute;
    top: calc(57.5%); left:calc(52.8%);
    z-index: 2;
    font-size: .95rem;

    animation-name: aparecerYDesparecerTexto;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.body_content
{
    display: none;
}
@keyframes aparecerYDesparecerTexto
{
    from
    {
        color:red
    }
    to
    {   
        color: blue;
    }

}

@keyframes girar 
{
    from 
    {
        from:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
