<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    

    <title>Calculadora de siguras geometricas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cristobal Nyram</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        </div>
    </nav>


    <div class="container mt-5">

        <div class="col-6">
            <form action="">
                <div class="form-group">
                    
                    <label class="form-label mt-4">Input addons</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" spellcheck="false" data-ms-editor="true">
                    
                      </div>
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" spellcheck="false" data-ms-editor="true">
                        <span class="input-group-text">.00</span>
                      </div>
                      
                      <div class="input-group mb-3">
                        <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
                      </div>
                    </div>
                  </div>
                
            </form>
        </div>
     


    </div>
    
    




    <!-- start modals  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script src="../assets/js/main.js"> </script>


    
</body>
</html>