<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">  


    <title>😼 Calculadora de figuras geometricas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Cristobal Nyram</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        </div>
    </nav>


    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Cuadrado</div>
                    <div class="card-body">
                      <h4 class="card-title">calcula automaticamente </h4>
                      <button type="button" class="btn btn-secondary" id="areaCuadrado">Area</button>
                      <button type="button" class="btn btn-warning" id="perimetroCuadrado">  Perimetro</button>

                    </div>
                  </div>
                
            </div>
            <div class="col-12 col-lg-6">
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Triangulo</div>
                    <div class="card-body">
                      <h4 class="card-title">calcula automaticamente </h4>
                      <button type="button" class="btn btn-secondary" id="areaTriangulo">Area</button>
                      <button type="button" class="btn btn-warning" id="perimetroTriangulo">Perimetro</button>

                    </div>
                  </div>
                
            </div>

            
        </div>
        <div class="row">

          <div class="col-12 col-lg-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Rectangulo</div>
                    <div class="card-body">
                      <h4 class="card-title">calcula automaticamente </h4>
                      <button type="button" class="btn btn-secondary" id="areaRectangulo">Area</button>
                      <button type="button" class="btn btn-warning" id="perimetroRectangulo">Perimetro</button>

                    </div>
                  </div>
                
            </div>
            <div class="col-12 col-lg-6">
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Rombo</div>
                    <div class="card-body">
                      <h4 class="card-title">calcula automaticamente </h4>
                      <button type="button" class="btn btn-secondary" id="areaRombo">Area</button>
                      <button type="button" class="btn btn-warning" id="perimetroRobo">Perimetro</button>

                    </div>
                  </div>
                
            </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Romboide</div>
                    <div class="card-body">
                      <h4 class="card-title">calcula automaticamente </h4>
                      <button type="button" class="btn btn-secondary" id="areaRomboide">Area</button>
                      <button type="button" class="btn btn-warning" id="perimetroRomboide">Perimetro</button>

                    </div>
                  </div>
                
            </div>

        </div>

        <div class="row">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <h4 class="alert-heading">Alerta!</h4>
                <p class="mb-0">En este recuadro se mostrara como ha sido creado, un dibujo con la figura geometrica con las medidas establecidas.</p>
               

              </div>
            

        </div>

        <span>
            Aprendimos a usar el console group para poder agrupar los console.group
        </span>
        <div class="row">
            <canvas id="dibujar_en_canvas">

            </canvas>
        </div>



    </div>
    
    




    <!-- start modals  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script src="../assets/js/main.js"> </script>


    
</body>
</html>